<!-- Modal -->
<div class="modal fade" id="coordinatorModal" tabindex="-1" role="dialog" aria-labelledby="coordinatorModalLabel" aria-hidden="true">
    <div class="modal-dialog coordinator-modal-dialog" role="document">
        <div class="modal-content coordinator-modal-content">
            <div class="modal-header coordinator-modal-header">
                <h4 class="modal-title" id="coordinatorModalLabel">Add Coordinator</h4>
            </div>
            <div class="modal-body coordinator-modal-body">

            </div>
            <div class="modal-footer coordinator-modal-footer">
                <button type="button" class="btn uw-button" onclick="closeCoordinatorModal()">Close</button>
                <button type="button" class="btn uw-button-inverse" onclick="saveCoordinator()">Save Coordinator</button>
            </div>
        </div>
    </div>
</div>