<form id="edit-profile-form">
    <div class="edit-profile-form-group form-group row col-sm-12">
        <input value="123 Example St. NW Atlanta, GA 30307" name="address" type="text" class="col-sm-12 uw-input input input-sm">
    </div>
    <div class="edit-profile-form-group form-group row col-sm-12">
        <input value="example@example.com" name="email" class="col-sm-12 uw-input input input-sm">
    </div>
    <div class="edit-profile-form-group form-group row col-sm-12">
        <div class="birth-date-input col-sm-5 col-no-padding">
            <input value="1997-01-24" name="birth date" type="date" class="col-sm-12 uw-input input input-sm">
        </div>
        <div class="phone-input col-sm-7 col-no-padding">
            <input value="(123) 456-7890" name="phone number" type="tel" class="col-sm-12 uw-input input input-sm">
            <input value="(123) 456-7890" name="phone number" type="tel" class="col-sm-12 uw-input input input-sm">
        </div>
    </div>
    <div class="edit-profile-form-group form-group row col-sm-12">
        <button onclick="saveProfile()" type="button" class="col-sm-12 btn btn-sm btn-default uw-button-inverse">Save</button>
    </div>
</form>