<div class="dash-item col-sm-12">
    <div class="dash-item-wrapper col-sm-12 container home-goals">
        <div class="col-sm-12 home-goals-header-content text-center">
            <div class="col-sm-6 home-goals-header-item">
                <h1 class="home-goals-header">2</h1>
                <h5 class="home-goals-sub-header">Goals Completed</h5>
            </div>
            <div class="col-sm-6">
                <h1 class="home-goals-header">4</h1>
                <h5 class="home-goals-sub-header">Goals In Progress</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="table home-goals-table text-center">
                <thead  class="goals-table-head text-center">
                    <tr>
                        <th scope="col">Goal</th>
                        <th scope="col">Current Step</th>
                        <th scope="col">Progress</th>
                    </tr>
                </thead>
                <tbody class="goals-table-body">
                    <tr>
                        <td>Focus on my Child's Future</td>
                        <td>Be Active at the School</td>
                        <td>
                            <div class="progress home-goals-progress">
                                <div class="progress-bar home-goals-progress-bar" style="width: 66%" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="3"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Ideal Health</td>
                        <td>Set your plan into Motion</td>
                        <td>
                            <div class="progress home-goals-progress">
                                <div class="progress-bar home-goals-progress-bar" style="width: 33%" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="3"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Get a Job</td>
                        <td>Get Prepared</td>
                        <td>
                            <div class="progress home-goals-progress">
                                <div class="progress-bar home-goals-progress-bar" style="width: 0%" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="3"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>