<div class="dash-item col-sm-8">
    <div class="dash-item-wrapper col-sm-12 container profile">
        <div class="col-sm-4 col-no-padding profile-pic-wrapper">
            <img src="{{ url_for('static', filename='images/profile_pictures/default_profile_pic.png') }}" class="home-profile-pic">
        </div>
        <div class="col-sm-8 profile-info-wrapper">
            <div class="profile-edit">
                <span id="profile-edit-ic" onclick="editProfile()" class="glyphicon glyphicon-pencil orange-text edit-profile-ic"></span>
            </div>
            <div class="profile-info">
                <div class="col-sm-12 col-no-padding">
                    <h3 class="profile-header">Example Member</h3>
                </div>
                <div class="profile-non-headers">
                    <div id="view_profile">
                        <div class="col-sm-12 col-no-padding">
                            <h5><span class="glyphicon glyphicon-map-marker"></span> 123 Example St. NW Atlanta, GA 30307</h5>
                        </div>
                        <div class="col-sm-12 col-no-padding">
                            <h5><span class="glyphicon glyphicon-envelope"></span> example@example.com</h5>
                        </div>
                        <div class="col-sm-12 col-no-padding">
                            <div class="col-sm-5 col-no-padding">
                                <h5><span class="glyphicon glyphicon-grain"></span> 24 January, 1997</h5>
                            </div>
                            <div class="col-sm-5 col-no-padding">
                                <h5><span class="glyphicon glyphicon-earphone"></span> (123) 456-7890 </h5>
                                <h5><span class="glyphicon glyphicon-earphone"></span> (123) 456-7890 </h5>
                            </div>
                        </div>
                    </div>
                    <div id="edit_profile">
                        {% include 'member/home/edit_profile.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
