@media (min-width: 1200px) {
    .profile {
        height: 250px;
    }

    .profile-header {
        margin-top: 0;
    }

    .profile-pic-wrapper {
        height: 100%;
        position: relative;
    }

    .home-profile-pic {
        height: 100%;
        width: auto;
    }

    .profile-edit {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: right;
        padding: 10px;
    }

    .edit-profile-ic:hover {
        cursor: pointer;
        color: var(--uw_red);
    }

    .profile-info-wrapper {
        display: table;
        height: 100%;
        padding-left: 50px;
    }

    .profile-info {
        display: table-cell;
        vertical-align: middle;
    }

    .profile-non-headers h5 {
        font-weight: 300;
    }

    #edit_profile {
        display: none;
    }

    .edit-profile-form-group {
        margin-bottom: 5px;
    }

    .birth-date-input {
        padding-right: 5px;
    }

    /* .phone-input {

    } */

    .address-zip {
        width: calc(25% - 15px);
    }

    .profile-phone-number:not(:last-child) {
        margin-bottom: 5px;
    }

    .profile-ic {
        margin-right: 5px;
        transform: translateY(1px);
    }

    .phone-ic {
        font-size: 1.3em;
        transform: translate(0px, 2px);
    }

    .phone-ic:hover {
        color: var(--primary);
        cursor: pointer;
    }

    .address-margin {
        margin-right: 5px;
    }

    .profile-input {
        height: 25px ! important;
    }

    .profile-input>option {
        height: 25px;
    }

    .edit-profile-pic-wrapper {
        top: 0;
        left: 0;
        position: absolute;
        height: 250px;
        width: 250px;
        background-color: var(--uw_lavender);
        transition: opacity 1s ease-out;
        opacity: 0;
        text-align: center;
        display: none;
    }

    .edit-profile-pic {
        color: var(--uw_white);
        display: table-cell;
        vertical-align: middle;
    }

    .edit-profile-pic h3 {
        font-weight: 300;
        margin-top: 0;
    }

    .edit-picture-ic {
        font-size: 0.8em;
        margin-right: 5px;
    }

    .profile-pic {
        height: 100%;
    }

    .profile-pic:hover .edit-profile-pic-wrapper {
        display: table;
        cursor: pointer;
        animation: fadeIn 1s;
        opacity: 0.8;
    }

    .picture-modal-content {
        border-radius: 0;
        color: var(--uw_lavender);
        overflow: scroll;
    }

    .picture-modal-body {
        overflow: scroll;
        height: 100%;
    }

    .coordinator-profile-pic-wrapper {
        width: 100%;
    }

    .coordinator-profile-pic {
        width: 100%;
        height: auto;
    }

    .profile-pic-label {
        position: relative;
        cursor: pointer;
        font-weight: 400;
        background-color: var(--primary);
        color: var(--uw_white);
        padding: 6px 15px;
        font-size: 0.9em;
        width: 100%;
        border-radius: 0 0px 3px 3px;
    }

    .coordinator-file-input {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .file-btn-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    #crop-success-button {
        display: none;
    }

    #show-profile-img {
        width: 100%;
    }

    .profile-pic-label:hover {
        background-color: var(--light_lavender);
    }

    .homepage-title {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--border_color);
        margin-bottom: 20px;
    }

    .homepage-title-right {
        float:right;
        padding-top: 30px;
    }

    .homepage-right, .homepage-left {
        padding: 0;
        height: 100%;
    }

    .home-clubs {
        height: calc(50vh - 16px);
        min-height: 300px;
        display: table;
    }

    .home-members {
        height: 100vh;
        min-height: 300px;
        display: table;
    }

    .home-goals {
        height: calc(50vh - 16px);
        min-height: 300px;
    }

    .home-approve .home-alert-ic-wrapper {
        background-color: var(--primary);
        /*background: linear-gradient(to bottom, var(--uw_orange), var(--light_orange));*/
    }

    .home-messages .home-alert-ic-wrapper {
        background-color: var(--primary);
        /*background: linear-gradient(to bottom, var(--uw_red), var(--light_red));*/
    }

    .home-alert-num {
        margin-top: 0;
        color: var(--uw_orange);
    }

    .home-alert {
        height: 110px;
    }

    .home-alert-ic {
        margin: 0;
    }

    .home-alert-left, .home-alert-right {
        height: 100%;
        display: inline-block;
    }

    .home-alert-left {
        width: 110px;
    }

    .home-alert-right {
        width: calc(100% - 114px);
    }

    .home-alert-block {
        display: table;
        height: 100%;
        width: 100%;
    }

    .home-alert-vert-center {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .home-alert-content {
        height: 100%;
    }

    .divider {
        margin: 0;
        height: 30px;
        display: inline-block;
        width: 100%;
    }

    .divider-left, .divider-right, .divider-text {
        display: inline-block;
        height: 100%;
    }

    .divider-left, .divider-right {
        width: 70%;
    }

    .divider-top {
        height: 15px;
        border-bottom: 1px solid var(--border_color);
    }

    .divider-bottom {
        height: 15px;
    }

    .divider-text {
        width: 27%;
        color: var(--uw_lavender);
        text-align: center;
        vertical-align: middle;
        /*transform: translateY(-25px);*/
    }

    .divider-text h4 {
        line-height: 0;
        margin-top: 0;
    }

    .goals-graph {
        height: calc(50vh - 16px);
        min-height: 300px;
    }

    .goals-graph-body {
        height: calc(100% - 46px);
    }

    .goals-graph-content {
        padding-top: 10px;
        width: 100%;
        height: 100%;
        display: table;
    }

    .goals-graph-chart {
        width: 50%;
    }

    .goals-graph-stats {
        width: 50%;
        border-left: 1px solid var(--border_color);
    }

    .goals-vertical-center {
        display: table-cell;
        vertical-align: middle ! important;
    }

    .goals-number {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 10px;
        float: right;
    }

    .goals-text {
        margin-top: 14px;
        float: left;
    }

    #map {
        min-height: 254px;
        height: calc(50vh - 46px);
        width: 100%;
    }

    #members_over_time {
        margin-top: 10px;
    }

    .c3 .c3-axis-x path, .c3 .c3-axis-x line {
        stroke: var(--uw_lavender);
        color: var(--uw_lavender);
    }
    .c3 .c3-axis-y path, .c3 .c3-axis-y line {
        stroke: var(--uw_lavender);
    }

    .c3 .c3-axis-y text,
    .c3 .c3-axis-x text {
        fill: var(--uw_lavender);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) { 
    /* .body-wrapper{
        display: none;
    } */
}