<div class="approve-list-item">
    <div class="approve-list-item-wrapper col-sm-1">
        <img class="approve-list-item-content approve-list-item-image" src="{{ url_for('static', filename='images/profile_pictures/srutig.jpg') }}">
    </div>
    <div class="approve-list-item-wrapper col-sm-2">
        <h5 class="approve-list-item-content">Sruti Guhathakurta</h5>
    </div>
    <div class="approve-list-item-wrapper col-sm-3">
        <h5 class="approve-list-item-content">Focus on my Child's Future</h5>
    </div>
    <div class="approve-list-item-wrapper col-sm-2">
        <h5 class="approve-list-item-content">Copy of a reading log</h5>
    </div>
    <div class="approve-list-item-wrapper col-sm-2">
        <h5 class="approve-list-item-content warning-text">Pending</h5>
    </div>
    <div class="approve-list-item-wrapper col-sm-2">
        <h4 class="approve-list-item-content">
            <span onclick="download()" class="glyphicon glyphicon-download approve-item-ic"></span>
            <span onclick="approve()" class="glyphicon glyphicon-ok-circle success-text approve-item-ic"></span>
            <span onclick="deny()" class="glyphicon glyphicon-remove-circle error-text approve-item-ic"></span>
        </h4>
    </div>
</div>