<div class="dash-item col-sm-12">
    <div class="dash-item-wrapper approve-list">
        <div class="col-sm-12 approve-list-header">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2 approve-list-header-item">
                <h6 class="white-text">Uploaded By</h6>
            </div>
            <div class="col-sm-3 approve-list-header-item">
                <h6 class="white-text">Goal</h6>
            </div>
            <div class="col-sm-2 approve-list-header-item">
                <h6 class="white-text">Proof</h6>
            </div>
            <div class="col-sm-2 approve-list-header-item">
                <h6 class="white-text">Status</h6>
            </div>
            <div class="col-sm-2 approve-list-header-item">
                <h6 class="white-text">Actions</h6>
            </div>
        </div>
        <div class="approve-list-items col-sm-12">
            {% include 'coordinator/approve/approve_list_item.html' %}
        </div>
    </div>
</div>