<div class="col-sm-12 dash-item">
    <div class="approve-topbar">
        <div class="col-sm-4 approve-topbar-left">
            <div class="approve-topbar-left-content">
                <h4 class="purple-text topbar-header"><span class="uw_lighter">Showing</span> {{ proofs|length }} Documents</h4>
            </div>
        </div>
        <div class="col-sm-8 approve-topbar-right">
            <div class="approve-topbar-right-content">
                <div class="form-group row topbar-form">
                    <input placeholder="Search" class="input input-sm topbar-form-control topbar-search-input" style="transform: translateY(3px);"><button type="button" onclick="featureNotImplemented()" class="btn btn-sm btn-default topbar-form-control topbar-search-btn topbar-btn"><span class="glyphicon glyphicon-search"></span></button>
                    <button type="button" onclick="featureNotImplemented()" class="btn btn-sm btn-default topbar-form-control topbar-btn">Filter By <span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>