<div class="dash-item col-sm-6">
    <div class="dash-item-wrapper col-sm-12 container add-goal text-center">
        <div class="add-goal-content">
            <h4 class="add-goal-title">Add Goal</h4>
            <form id="add-goal-form">
                <div class="col-md-6 goal-steps">
                    <h6 class="uw_lighter"><strong>Step 1:</strong> Select a Category</h6>
                    <div class="form-group row">
                        <select name="goal-category" class="input input-sm uw-input col-sm-8 col-sm-offset-2">
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="uw_lighter"><strong>Step 2:</strong> Select a Goal</h6>
                    <div class="form-group row">
                        <select name="goal-category" class="input input-sm uw-input col-sm-8 col-sm-offset-2">
                            <option value="goal_1">Focus on my Child's Future</option>
                            <option value="goal_2">Get into College (Students)</option>
                            <option value="goal_3">Write a Five Year Plan (Students)</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 add-goal-button">
                    <div class="form-group row">
                        <button class="btn btn-sm add-goal-btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>