<div class="dash-item col-sm-4">
    <div class="dash-item-wrapper col-sm-12 container add-goal text-center">
        <div class="add-goal-content">
            <h4>Add Goal</h4>
            <form id="add-goal-form">
                <h6 class="uw_lighter"><strong>Step 1:</strong> Select a Category</h6>
                <div class="form-group row">
                    <select name="goal-category" class="input input-sm uw-input col-sm-6 col-sm-offset-3">
                        <option value="education">Education</option>
                        <option value="income">Income</option>
                        <option value="health">Health</option>
                    </select>
                </div>
                <h6 class="uw_lighter"><strong>Step 2:</strong> Select a Goal</h6>
                <div class="form-group row">
                    <select name="goal-category" class="input input-sm uw-input col-sm-6 col-sm-offset-3">
                        <option value="goal_1">Goal 1</option>
                        <option value="goal_2">Goal 2</option>
                        <option value="goal_3">Goal 3</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>