<div class="panel panel-default member-goal">
    <div class="goal-heading panel-heading">
        <div class="goal-heading-content">
            <a data-toggle="collapse" href="#goal{{ index }}">
                <h4 class="panel-title goal-title">
                    <span class="glyphicon glyphicon-apple goal-header-ic"></span>
                    {{ goal.goal_name }}
                </h4>
            </a>
            <div class="goals-completed">
                <div class="progress goals-progress">
                    <div class="progress-bar goals-progress-bar" style="width: 33%" role="progressbar" aria-valuenow="{{ goal.num_steps_completed() }}" aria-valuemin="0" aria-valuemax="3">{{ goal.num_steps_completed() }}/{{ goal.member_steps | length }}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="goal{{ index }}" class="panel-collapse collapse">
        <div class="panel-body goal-body">
            <div class="goal-steps-list">
                {% for step in goal.member_steps %}
                    {% with step=step, index=loop.index, goal_index=index %}
                    {% include 'member/goals/goal_step/step.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="panel-footer goal-footer">
        </div>
    </div>
</div>
