<div class="dash-item col-sm-8">
    <div class="dash-item-wrapper col-sm-12 container goals-stats text-center">
        <div class="goals-stats-content">
            <div class="">
                <h5><span class="goals-stats-num">2</span> Goals Completed</h5>
                <h5><span class="goals-stats-num">12</span> Milestones Reached</h5>
                <h5>Since <span class="goals-stats-date">Feb. 12, 2017</span></h5>
            </div>
        </div>
        <div class="goals-stats-content">
            <div class="">
                {% include 'member/goals/graph.html' %}
            </div>
        </div>
    </div>
</div>