{% extends 'coordinator/layout.html' %}

{% block c_extrascript %}
<script src="{{ url_for('static', filename='js/coordinator/coordinators.js') }}"></script>
{% endblock %}

{% block c_content %}

{% if error %}
<h5 class="error-text coordinator-add-error">Error: {{ error }}</h5>
{% endif %}

{% with coordinators=coordinators %}
{% with is_admin=coordinator.super_admin %}
{% include 'coordinator/coordinators/topbar.html' %}
{% include 'coordinator/coordinators/coordinators_list.html' %}
{% include 'coordinator/coordinators/add_coordinator.html' %}
{% endwith %}
{% endwith %}


{% endblock %}