{% extends 'coordinator/layout.html' %}

{% block c_extrascript %}
<script src="{{ url_for('static', filename='js/coordinator/goals.js') }}"></script>
{% endblock %}

{% block c_content %}

{% include 'coordinator/goals/topbar.html' %}
{% with goals=goals %}
{% include 'coordinator/goals/goals_list.html' %}
{% endwith %}
{% include 'coordinator/goals/add_goal.html' %}

<div id="edit_goal_modal">
    {% with goal=goals[0] %}
    {% include 'coordinator/goals/edit_goal.html' %}
    {% endwith %}
</div>

{% endblock %}