{% extends 'coordinator/layout.html' %}

{% block c_extrastyle %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/lib/cropper.min.css') }}">
{% endblock %}

{% block c_extrascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/cropper.min.js') }}"></script>
{% endblock %}

{% block c_content %}
<div class="general-dash">

    <div class="col-md-12 homepage-left">
        <div id="coordinator-profile">
            {% with coordinator=coordinator, states=states, phone_numbers=phone_numbers %}
            {% include 'coordinator/home/profile.html' %}
            {% endwith %}
        </div>

        {% with pendingProofs=pendingProofs %}
        {% include 'coordinator/home/notifications.html' %}
        {% endwith %}

    </div>

    <div class="col-md-8 homepage-left">
        {% include 'coordinator/home/graphs/goals.html' %}

        {% include 'coordinator/home/clubs.html' %}

        {% include 'coordinator/home/goals-list.html' %}
    </div>

    <div class="col-md-4 homepage-right">
        {% include 'coordinator/home/members.html' %}
    </div>
    <div class="col-md-12">
        <h6 class="purple-text">Since the Achievement Club Portal is still under development, please help us make it better by reporting bugs <a href="https://docs.google.com/document/d/1sDlFzphrP1HVmHJu2vLj2639nYfk_ntWAhK6yX9lCyA/edit?usp=sharing" target="_blank">here</a></h6>
    </div>
</div>

{% endblock %}