<div class="panel panel-default goal-item">
    <div class="goal-heading panel-heading text-center">
        <div class="goal-heading-content col-sm-12 col-no-padding">
                <a class="goal-heading-wrapper" data-toggle="collapse" href="#goal1">
                    <div class="col-sm-1 goal-title-wrapper">
                        <h4 class="goal-title goal-title-ic text-center">
                            <span class="glyphicon glyphicon-apple goal-heading-ic"></span>
                        </h4>
                    </div>
                    <div class="col-sm-4 goal-title-wrapper">
                        <h5 class="goal-title">
                            {{ goal.goal_name }}
                        </h5>
                    </div>
                    <div class="col-sm-3 goal-title-wrapper">
                        <h5 class="goal-title">
                            {{ goal.goal_category }}
                        </h5>
                    </div>
                    <div class="col-sm-4 goal-title-wrapper">
                        <div class="goal-title">
                            <div class="goal-member-img-wrapper">
                                <img src="{{ url_for('static', filename='images/profile_pictures/srutig.jpg') }}">
                                <img src="{{ url_for('static', filename='images/profile_pictures/hpotter.jpg') }}">
                                <img src="{{ url_for('static', filename='images/profile_pictures/default_profile_pic.png') }}">
                                <img src="{{ url_for('static', filename='images/profile_pictures/bsmith.jpg') }}">
                                <h6 class="more-images goals-body-header">+ 3 more</h6>
                            </div>
                        </div>
                    </div>
                </a>
        </div>
    </div>
    <div id="goal1" class="panel-collapse collapse {% if index == 1 %} in {% endif %}">
        <div class="panel-body goal-body">
            <div class="goal-steps-nav col-sm-3">
                <div class="goal-steps-title">
                    <h6 class="goals-body-header">Steps</h6>
                </div>
                {% for step in goal.steps %}
                    <div onclick="showStep(this, 'goal{{ index }}step{{ loop.index }}')" class="goal-steps-nav-item {% if loop.index == 1 %} goal-steps-nav-item-active {% endif %}">
                        <h5>{{ step.step_name }}</h5>
                    </div>
                {% endfor %}
            </div>
            <div class="goal-steps-content col-sm-9">
                <div class="goal-steps-content-wrapper">
                    {% for step in goal.steps %}
                    <div class="goal-proofs {% if loop.index != 1 %} goal-proofs-hide {% endif %}" id="goal{{ index }}step{{ loop.index }}">
                        <div class="col-sm-8">
                            <h6 class="goals-body-header">Proofs</h6>
                            {% for proof in step.proofs %}
                            <div class="goal-step-proof">
                                <h5>{{ proof.description }}</h5>
                                <h5><span class="proof-header">Proof:</span> {{ proof.proof_name }}</h5>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-4">
                            <h6 class="goals-body-header">Members working on this step</h6>
                            <div class="goals-steps-content-img-wrapper">
                                <img src="{{ url_for('static', filename='images/profile_pictures/default_profile_pic.png') }}">
                                <img src="{{ url_for('static', filename='images/profile_pictures/bsmith.jpg') }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel-footer goal-footer">
            <h5 onclick="editGoal()" class="edit-goal"><span class="glyphicon glyphicon-pencil"></span> Edit goal</h5>
        </div>
    </div>
</div>