<!-- Modal -->
<div class="modal fade" id="clubModal" tabindex="-1" role="dialog" aria-labelledby="clubModalLabel" aria-hidden="true">
    <div class="modal-dialog club-modal-dialog" role="document">
        <div class="modal-content club-modal-content">
            <div class="modal-header club-modal-header">
                <h4 class="modal-title" id="clubModalLabel">Add Club</h4>
            </div>
            <div class="modal-body club-modal-body text-center">

            </div>
            <div class="modal-footer club-modal-footer">
                <button type="button" class="btn uw-button" onclick="closeClubModal()">Close</button>
                <button type="button" class="btn uw-button-inverse" onclick="saveClubModal()">Save Club</button>
            </div>
        </div>
    </div>
</div>