<!-- Modal -->
<div class="modal fade" id="clubModal" tabindex="-1" role="dialog" aria-labelledby="clubModalLabel" aria-hidden="true">
    <div class="modal-dialog club-modal-dialog" role="document">
        <div class="modal-content club-modal-content">
            <div class="modal-header club-modal-header">
                <h4 class="modal-title" id="clubModalLabel">Add Club</h4>
            </div>
            <div class="modal-body club-modal-body">
                <form id="club-form">
                    <label>General:</label>
                    <div class="form-group row">
                        <input placeholder="Club Name" name="club_name" class="input input-sm uw-input col-sm-11">
                    </div>
                    <label>Address:</label>
                    <div class="form-group row club-address-top">
                        <input placeholder="Street" name="address_street" class="input input-sm uw-input col-sm-11">
                    </div>
                    <div class="form-group row club-address-bottom">
                        <input placeholder="City" name="address_city" class="input input-sm uw-input col-sm-6 club-city-input">
                        <input placeholder="State" name="address_state" class="input input-sm uw-input col-sm-3 club-state-input">
                        <input placeholder="Zip" name="address_zip" class="input input-sm uw-input col-sm-2">
                    </div>
                    <label>Coordinators:</label>
                    <datalist id="coordinators">
                        <option value="Coordinator1"></option>
                        <option value="Coordinator2"></option>
                    </datalist>
                    <div id="hidden-coord-input">
                        <div class="form-group row club-coord-input-extra club-coord">
                            <input type="text" class="input input-sm uw-input col-sm-11" placeholder="Coordinator Name" name="coordinator_name" list="coordinators"/>
                            <div class="col-sm-1">
                                <h6 onclick="removeCoordinator(this)" class="remove-coord-ic"><span class="glyphicon glyphicon-remove"></span></h6>
                            </div>
                        </div>
                    </div>
                    <div id="club-coordinators">
                        <div class="form-group row club-coord-input club-coord">
                            <input type="text" class="input input-sm uw-input col-sm-11" placeholder="Coordinator Name" name="coordinator_name" list="coordinators"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button onclick="addClubCoord()" type="button" class="btn btn-sm uw-button-inverse add-coord-btn">Add Coordinator</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer club-modal-footer">
                <button type="button" class="btn uw-button" onclick="closeClubModal()">Close</button>
                <button type="button" class="btn uw-button-inverse" onclick="saveClubModal()">Save Club</button>
            </div>
        </div>
    </div>
</div>