<div class="clubs-topbar">
    <div class="clubs-left">
        <h5 class="uw_lighter">Showing <span class="uw_regular">{{ clubs | length }}</span> Clubs</h5>
    </div>
    <div class="clubs-right">
        <div class="clubs-right-content">
            <input placeholder="Search" class="input input-sm topbar-form-control topbar-search-input clubs-topbar-input" style="transform: translateY(1px);"><button class="btn btn-sm btn-default topbar-form-control topbar-search-btn topbar-btn clubs-topbar-input"><span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-sm btn-default topbar-form-control topbar-btn-inverse clubs-topbar-input">Sort: Club Name A-Z</button>
            <button class="btn btn-sm btn-default topbar-form-control topbar-btn clubs-topbar-input">Add Club <span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</div>