<li class="goal-proof {% if proof.status == 'approved' %} proof-completed {% endif %}">
    <h6 class="goal-proof-title">
        {{ proof.proof.description }}
        {% if proof.status == 'approved' %}
        <span class="proof-completed-label"><span class="glyphicon glyphicon-check"></span> Completed {{ proof.date_completed }}</span>
        {% elif active == True %}
        <span class="proof-upload-label" onclick="openProofModal('{{ proof.proof_name }}','{{ proof.proof_document }}')"><span class="glyphicon glyphicon-upload"></span> Upload Proof</span>
        {% endif %}
    </h6>
</li>