<li class="goal-proof {% if proof.status == 'approved' %} proof-completed {% endif %}">
    <h6 class="goal-proof-title">
        {{ proof.proof.description }}
        {% if proof.status == 'approved' %}
        <span class="proof-completed-label"><span class="glyphicon glyphicon-check"></span> Approved {{ proof.date_completed.strftime("%m/%d/%y") }} by {{ proof.proof_verified_by }}</span>
        {% elif proof.status == 'new' %}
        <span class="proof-upload-label" onclick="openProofModal('{{ proof.proof_name }}','{{ proof.step_name }}','{{ proof.proof_document }}')"><span class="glyphicon glyphicon-upload"></span> Upload Proof</span>
        {% elif proof.status == 'pending' %}
        <span class="proof-upload-label" onclick="openProofModal('{{ proof.proof_name }}','{{ proof.step_name }}','{{ proof.proof_document }}')"><span class="glyphicon glyphicon-upload"></span> Change Proof</span>
        <span class="proof-pending-label"> Pending Approval</span>
        {% elif proof.status == 'denied' %}
        <span class="proof-upload-label" onclick="openProofModal('{{ proof.proof_name }}','{{ proof.step_name }}','{{ proof.proof_document }}')"><span class="glyphicon glyphicon-upload"></span> Change Proof</span>
        <span class="proof-denied-label"> Denied</span>
        <span class="proof-denied-reason">{{ proof.reason }}</span>
        {% endif %}
    </h6>
</li>