<div class="dash-item col-sm-12 text-center">
    <div class="home-messages home-alert dash-item-wrapper col-sm-12 col-no-padding">
        <div class="home-messages-content home-alert-content">
            <div class="home-alert-left text-center home-alert-ic-wrapper">
                <div class="home-alert-block">
                    <div class="home-alert-vert-center">
                        <h1 class="home-alert-ic"><span class="glyphicon glyphicon-envelope white-text"></span></h1>
                    </div>
                </div>
            </div>
            <div class="home-alert-right text-center">
                <div class="home-alert-block">
                    <div class="home-alert-vert-center">
                        <h3 class="home-alert-num">5</h3>
                        <h5 class="home-alert-header messages-header uw_lighter">
                            New Messages
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>